p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    color: antiquewhite;
    padding-bottom: 100px;
    padding-top: 70px;
    padding-left: 75px;
    padding-right: 10px;
    /*flex-shrink: 0;*/
}
.cccc{
    color: black;
    border-radius: 5px;
    padding-top: 50px;   
}